{
  // ssh するための login name
  "user": "loginUserName",
  // kubespray の git clone した場所
  "executionPath": "./kubespray",
  "docker": {
    "composeBinaryUrl": "https://github.com/docker/compose/releases/download/v2.10.0/docker-compose-linux-aarch64",
  },
  "sshKeyName": "",
}
